<ng-container *ngIf="tbTr !== undefined">
    <app-list
        [title]="'Kategorije'"
        [addNewTitle]="'Nova kategorija'"
        [tbTh]="tbTh"
        [form]="form"
        (triggerInsert)="insertFunction($event)"
        (triggerPrepareEdit)="prepareEdit($event)"
        (triggerUpdate)="updateFunction($event)"
        (triggerDelete)="deleteFunction($event)"
        (triggerDeleteMediaLink)="deleteMediaLink($event)"
    >
    </app-list>
</ng-container>
<app-toast [toastActive]="toastActive" [toastText]="toastText"></app-toast>
