<!--title start-->
<div class="title4 ">
    <h4>Najnovije iz <span>magazina</span></h4>
 </div>
 <!--title end-->

 <!--blog start-->
 <section class="blog section-big-mb-space mb--5 ">
    <div class="custom-container">
       <div class="row">
          <div class="col pr-0">
             <div class="blog-slide-4 no-arrow row">
                <div *ngFor="let blog of blogs" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                   <div class="blog-contain">
                      <div class="blog-img">
                         <a [routerLink]="['/shop/blog-single', blog.id]">
                            <img [src]="blog?.main_img_src || 'assets/images/noimg.png'" [alt]="blog?.main_img_alt_text || blog.title" class="img-fluid w-100">
                         </a>
                      </div>
                      <div class="blog-details-2">
                         <a [routerLink]="['/shop/blog-single', blog.id]">
                            <h4>{{blog.title}}</h4>
                         </a>
                         <p>{{blog.short_desc}}</p>
                      </div>
                      <div class="blog-label1">{{blog.published_date_day}} <br>{{blog.published_date_month_txt}}</div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--blog end-->
