<!--title start-->
<div class="title4 ">
    <h4>letest <span>blog</span></h4>
 </div>
 <!--title end-->
 
 <!--blog start-->
 <section class="blog section-big-mb-space mb--5 ">
    <div class="custom-container">
       <div class="row">
          <div class="col pr-0">
             <div class="blog-slide-4 no-arrow">
                <div>
                   <div class="blog-contain">
                      <div class="blog-img">
                         <a href="blog-details.html">
                            <img src="../assets/images/layout-6/blog/1.jpg" alt="blog" class="img-fluid w-100">
                         </a>
                      </div>
                      <div class="blog-details-2">
                         <a href="blog-details.html">
                            <h4>Proin sit amet libero </h4>
                         </a>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend a massa rhoncus gravida.</p>
                         <ul>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-user-md"></i>Donec lacinia</a>
                            </li>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-comments"></i>comants</a>
                            </li>
                         </ul>
                      </div>
                      <div class="blog-label1">27 <br>nov</div>
                   </div>
                </div>
                <div>
                   <div class="blog-contain">
                      <div class="blog-img">
                         <a href="blog-details.html">
                            <img src="../assets/images/layout-6/blog/2.jpg" alt="blog" class="img-fluid w-100">
                         </a>
                      </div>
                      <div class="blog-details-2">
                         <a href="blog-details.html">
                            <h4>we know that buying items </h4>
                         </a>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend a massa rhoncus gravida.</p>
                         <ul>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-user-md"></i>Donec lacinia</a>
                            </li>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-comments"></i>comants</a>
                            </li>
                         </ul>
                      </div>
                      <div class="blog-label1">27 <br>nov</div>
                   </div>
                </div>
                <div>
                   <div class="blog-contain">
                      <div class="blog-img">
                         <a href="blog-details.html">
                            <img src="../assets/images/layout-6/blog/3.jpg" alt="blog" class="img-fluid w-100">
                         </a>
                      </div>
                      <div class="blog-details-2">
                         <a href="blog-details.html">
                            <h4>Proin sit amet libero </h4>
                         </a>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend a massa rhoncus gravida.</p>
                         <ul>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-user-md"></i>Donec lacinia</a>
                            </li>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-comments"></i>comants</a>
                            </li>
                         </ul>
                      </div>
                      <div class="blog-label1">27 <br>nov</div>
                   </div>
                </div>
                <div>
                   <div class="blog-contain">
                      <div class="blog-img">
                         <a href="blog-details.html">
                            <img src="../assets/images/layout-6/blog/4.jpg" alt="blog" class="img-fluid w-100">
                         </a>
                      </div>
                      <div class="blog-details-2">
                         <a href="blog-details.html">
                            <h4>Latest News Post</h4>
                         </a>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend a massa rhoncus gravida.</p>
                         <ul>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-user-md"></i>Donec lacinia</a>
                            </li>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-comments"></i>comants</a>
                            </li>
                         </ul>
                      </div>
                      <div class="blog-label1">27 <br>nov</div>
                   </div>
                </div>
                <div>
                   <div class="blog-contain">
                      <div class="blog-img">
                         <a href="blog-details.html">
                            <img src="../assets/images/layout-6/blog/2.jpg" alt="blog" class="img-fluid w-100">
                         </a>
                      </div>
                      <div class="blog-details-2">
                         <a href="blog-details.html">
                            <h4>Proin sit amet libero </h4>
                         </a>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eleifend a massa rhoncus gravida.</p>
                         <ul>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-user-md"></i>Donec lacinia</a>
                            </li>
                            <li>
                               <a href="javascript:void(0)"><i class="fa fa-comments"></i>comants</a>
                            </li>
                         </ul>
                      </div>
                      <div class="blog-label1">27 <br>nov</div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--blog end-->