<!-- edit product modal start-->
<div class="modal fade bd-example-modal-lg theme-modal pro-edit-modal" id="edit-product" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
       <div class="modal-content ">
          <div class="modal-body">
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             <div class="pro-group">
                <div class="product-img">
                   <div class="media">
                      <div class="img-wraper">
                         <a href="product-page(left-sidebar).html">
                            <img src="../assets/images/mega-store/product/9.jpg"  alt="" class="img-fluid">
                         </a>
                      </div>
                      <div class="media-body">
                         <a href="product-page(left-sidebar).html">
                            <h3>redmi not 3</h3>
                         </a>
                         <h6>$80<span>$120</span></h6>
                      </div>
                   </div>
                </div>
             </div>
             <div class="pro-group">
                <h6 class="product-title">Select Size</h6>
                <div class="size-box">
                   <ul>
                      <li ><a href="javascript:void(0)">s</a></li>
                      <li><a href="javascript:void(0)">m</a></li>
                      <li><a href="javascript:void(0)">l</a></li>
                      <li><a href="javascript:void(0)">xl</a></li>
                      <li><a href="javascript:void(0)">2xl</a></li>
                   </ul>
                </div>
             </div>
             <div class="pro-group">
                <h6 class="product-title">Select color</h6>
                <div class="color-selector inline">
                   <ul>
                      <li>
                         <div class="color-1 active"></div>
                      </li>
                      <li>
                         <div class="color-2"></div>
                      </li>
                      <li>
                         <div class="color-3"></div>
                      </li>
                      <li>
                         <div class="color-4"></div>
                      </li>
                      <li>
                         <div class="color-5"></div>
                      </li>
                      <li>
                         <div class="color-6"></div>
                      </li>
                      <li>
                         <div class="color-7"></div>
                      </li>
                   </ul>
                </div>
             </div>
             <div class="pro-group">
                <h6 class="product-title">Quantity</h6>
                <div class="qty-box">
                   <div class="input-group">
                      <button class="qty-minus"></button>
                      <input class="qty-adj form-control" type="number" value="1"/>
                      <button class="qty-plus"></button>
                   </div>
                </div>
             </div>
             <div class="pro-group mb-0">
                <div class="modal-btn">
                   <a href="cart.html" class="btn btn-solid btn-sm">
                      add to cart
                   </a>
                   <a href="product-page(left-sidebar).html" class="btn btn-solid btn-sm">
                      more detail
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- edit product modal end-->