/* You can add global styles to this file, and also import other style files */
.pull-right{
    float: right
}

.slick-prev::before {
    color: #f73838 !important;
}
.slick-next::before {
    color: #f73838 !important;
}

body {
  min-height: 1400px;
}

.qty-minus{
  &::before{
    content: unset !important;
  }
}
.qty-plus{
  &::before{
    content: unset !important;
  }
}
