<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a routerLink="/admin/category">
                <div class="card">
                    <div class="card-header">
                        <h5>Kategorije</h5>
                    </div>
                    <div class="card-body">
                        <p>Panel za dodavanja novih kategorija i podkategorija i uvid u već postojeće</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a routerLink="/admin/discounts">
                <div class="card">
                    <div class="card-header">
                        <h5>Popisti / akcije</h5>
                    </div>
                    <div class="card-body">
                        <p>Panel za dodavanja novih popusta / akcija i uvid u već postojeće</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a routerLink="/admin/products_list">
                <div class="card">
                    <div class="card-header">
                        <h5>Lista proizvoda</h5>
                    </div>
                    <div class="card-body">
                        <p>Panel za uvid u sve proizvode</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a routerLink="/admin/products_add">
                <div class="card">
                    <div class="card-header">
                        <h5>Dodaj proizvod</h5>
                    </div>
                    <div class="card-body">
                        <p>Panel za dodavanje novog proizvoda</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>