<!-- Add to wishlist bar -->
<div id="wishlist_side" class="add_to_cart right" [class.open-side]="openWishlistModal">
  <a href="javascript:void(0)" class="overlay" (click)="closeWishlist()"></a>
  <div class="cart-inner">
    <div class="cart_top">
      <h3>Moja lista želja</h3>
      <div class="close-cart">
        <a href="javascript:void(0)" (click)="closeWishlist()">
          <fa-icon icon="times"></fa-icon>
        </a>
      </div>
    </div>
    <div class="cart_media">
      <ul class="cart_product">
        <li *ngFor="let product of products">
          <app-aside-modal-single-product
            [product]="product"
            (triggerEdit)="catchEditEmit($event)"
            (triggerTrash)="catchTrashEmit($event)"
            (triggerAddToCart)="catchTrashEmit($event)"
            [type]="asideModalType.CART"
          ></app-aside-modal-single-product>
        </li>
      </ul>
      <ul class="cart_total">
        <app-aside-modal-pricing [productsSum]="productsSum" [type]="asideModalType.WHISLLIST"></app-aside-modal-pricing>
      </ul>
    </div>
  </div>
</div>
<!-- Add to wishlist bar -->
