<ng-container *ngIf="products?.length > 0">
  <div class="title4">
    <h4>{{title}} <span>proizvodi</span></h4>
  </div>

  <!--product box start -->
  <section class="ratio_asos product section-big-pb-space">
    <div class="custom-container addtocart_count">
      <div class="row">
        <div class="col pr-0">
          <div class="product-slide-6 no-arrow">
            <ngx-slick-carousel class="carousel"
                                #slickModal="slick-carousel"
                                [config]="slideConfig"
                                (init)="slickInit($event)"
                                (breakpoint)="breakpoint($event)"
                                (afterChange)="afterChange($event)"
                                (beforeChange)="beforeChange($event)"
            >
              <div ngxSlickItem *ngFor="let product of products">
                <app-list-single-product [product]="product"></app-list-single-product>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--product box end -->
</ng-container>
