<!-- Parallax banner -->
<section class="Parallax section-big-pt-space">
    <div
      class="full-banner parallax text-left p-left"
      style='
        background-image: url("assets/images/parallax-banner/parelex.jpg") !important;
        background-size: cover !important;
        background-position: center center !important;
        display: block !important;
      '
    >
       <img src="assets/images/parallax-banner/parelex.jpg" alt="" class="bg-img " style="display: none">
       <div class="container">
          <div class="row">
             <div class="col">
                <div class="banner-contain">
                   <h2>2019</h2>
                   <h3>food market</h3>
                   <h4>special offer</h4>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- Parallax banner end -->
