<!-- Page Sidebar Start-->
<div>
    <div class="sidebar custom-scrollbar">
        <div class="sidebar-user text-center">
            <div class="txt-default f-20 text-center" [class.closedMenu]="isMenuOpened">
                <fa-icon icon="user-circle"></fa-icon>
            </div>
            <h6 class="mt-3 f-14" [class.text-end]="isMenuOpened">{{user?.firstname}} {{user?.lastname}}</h6>
            <p [class.text-end]="isMenuOpened">Admin</p>
        </div>
        <ul class="sidebar-menu">
            <li><a routerLink="/admin/dashboard" class="sidebar-header" ><fa-icon icon="tachometer-alt"></fa-icon><span>Kontrolna tabla</span></a></li>
            <li (mouseenter)="activeProductsMenu()" (mouseleave)="deactiveProductsMenu()" [class.active]="isProductsMenuActive"><a routerLink="/admin/products" class="sidebar-header"><fa-icon icon="store"></fa-icon><span>Prodavnica</span><fa-icon icon="chevron-right"></fa-icon></a>
                <ul class="sidebar-submenu">
                    <li><a routerLink="/admin/category"><fa-icon icon="th-list"></fa-icon>Kategorije</a></li>
                    <li><a routerLink="/admin/discounts"><fa-icon icon="percent"></fa-icon>Popusti / Akcije</a></li>
                    <li><a routerLink="/admin/products"><fa-icon icon="box"></fa-icon>Proizvodi</a></li>
                </ul>
            </li>
            <li><a routerLink="/admin/media" class="sidebar-header"><fa-icon icon="photo-video"></fa-icon>Media</a></li>
            <li><a routerLink="/admin/invoice" class="sidebar-header"><fa-icon icon="receipt"></fa-icon><span>Računi</span></a></li>
            <li><a routerLink="/admin/locations" class="sidebar-header"><fa-icon icon="map-marked-alt"></fa-icon><span>Lokacije</span></a></li>
            <li><a class="sidebar-header" (click)="logout()" href="javascript:void(0)"><fa-icon icon="sign-out-alt"></fa-icon><span>Odjavi se</span></a>
            </li>
        </ul>
    </div>
</div>