
<app-home-image-group1></app-home-image-group1>
<app-home-category-slider></app-home-category-slider>
<!--services start-->
<section class="services services-inverse">
    <div class="container">
       <div class="row service-block">
          <div class="col-lg-3 col-md-6  col-sm-12">
             <div class="media">
                <fa-icon icon="heart"></fa-icon>
                <div class="media-body">
                   <h5>free shipping</h5>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6  col-sm-12">
             <div class="media">
                <fa-icon icon="heart"></fa-icon>
                <div class="media-body">
                   <h5>24X7 SERVICE</h5>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6  col-sm-12 ">
             <div class="media">
                <fa-icon icon="heart"></fa-icon>
                <div class="media-body">
                   <h5>EASY RETURN</h5>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6  col-sm-12 ">
             <div class="media">
                <fa-icon icon="heart"></fa-icon>
                <div class="media-body">
                   <h5>ONLINE PAYMENT</h5>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--services end-->
<app-home-discounts-list></app-home-discounts-list>
<app-home-product-list [title]="'Najbolje ocenjeni'"></app-home-product-list>
<app-home-image-group2></app-home-image-group2>
<app-home-parallax></app-home-parallax>
<app-home-blog></app-home-blog>

<!-- MODALS -->
<app-quick-view-product></app-quick-view-product>
