<!-- Add to cart bar -->
<div id="cart_side" class="add_to_cart right" [class.open-side]="toggleModal">
    <a href="javascript:void(0)" class="overlay" (click)="closeCartModal()"></a>
    <div class="cart-inner">
       <div class="cart_top">
          <h3>Moja korpa</h3>
          <div class="close-cart">
             <a href="javascript:void(0)" (click)="closeCartModal()">
                <fa-icon icon="times"></fa-icon>
             </a>
          </div>
       </div>
       <div class="cart_media">
          <ul class="cart_product">
            <li *ngFor="let product of products">
              <app-aside-modal-single-product
                (triggerQty)="catchQtyEmit($event)"
                (triggerTrash)="catchTrashEmit($event)"
                (triggerEdit)="catchEditEmit($event)"
                [product]="product"
                [type]="asideModalType.CART"
              ></app-aside-modal-single-product>
            </li>
          </ul>
          <ul class="cart_total">
            <app-aside-modal-pricing [type]="asideModalType.CART"></app-aside-modal-pricing>
          </ul>
       </div>
    </div>
 </div>
 <!-- Add to cart bar end-->
