<!-- Add to cart bar -->
<div id="cart_side" class="add_to_cart right" [class.open-side]="toggleModal">
    <a href="javascript:void(0)" class="overlay" (click)="closeCartModal()"></a>
    <div class="cart-inner">
       <div class="cart_top">
          <h3>Moja korpa</h3>
          <div class="close-cart">
             <a href="javascript:void(0)" (click)="closeCartModal()">
                <fa-icon icon="times"></fa-icon>
             </a>
          </div>
       </div>
       <div class="cart_media">
          <ul class="cart_product">
            <li *ngFor="let product of products">
              <div class="media">
                <a [routerLink]="['/shop/product', {id: product.id}]" routerLinkActive="router-link-active" >
                  <img [alt]="product?.alt_text || 'slika proizvoda, ' + product.name" class="me-3" [src]="product.image">
                </a>
                <div class="media-body">
                  <a [routerLink]="['/shop/product', {id: product.id}]" routerLinkActive="router-link-active" >
                    <h4>{{product.name}}</h4>
                  </a>
                  <h6>
                    {{product?.new_price || product.price}} RSD <span *ngIf="product?.new_price !== product.price && product?.discount"> {{product.price}} RSD</span>
                  </h6>
                  <form class="addit-box">
                    <div class="qty-box">
                      <div class="input-group">
                        <button class="qty-minus" (click)="minus(product.id)" type="button">
                          <fa-icon icon="minus"></fa-icon>
                        </button>
                        <input class="form-control" type="number" value="1" [id]="'productInput' + product.id" />
                        <button class="qty-plus" (click)="plus(product.id)" type="button">
                          <fa-icon icon="plus"></fa-icon>
                        </button>
                      </div>
                    </div>
                    <div class="pro-add">
                      <a href="javascript:void(0)" (click)="trash(product.id)">
                        <fa-icon icon="trash-alt"></fa-icon>
                      </a>
                      <!--<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#edit-product" (click)="edit(product.id)">
                         <fa-icon icon="edit"></fa-icon>
                      </a>-->
<!--                      <a href="javascript:void(0)" (click)="addToCart(product.id)" class="float-end">-->
<!--                        <fa-icon icon="cart-plus"></fa-icon>-->
<!--                      </a>-->
                    </div>
                  </form>
                </div>
              </div>
            </li>
          </ul>
          <ul class="cart_total">
             <li>
                Ukupno proizvodi : <span>{{productsSum}} RSD</span>
             </li>
             <li>
               Za dostavu: <span>{{!!shipping? shipping + ' RSD': 'Besplatno'}}</span>
             </li>
             <li>
                <div class="total">
                   Ukupno <span>{{productsSumEnd}} RSD</span>
                </div>
             </li>
             <li>
                <div class="buttons">
                   <a [routerLink]="['shop/cart_view']" routerLinkActive="$router_link-active$" class="btn btn-solid btn-sm">Vidi korpu</a>
                   <a [routerLink]="['/shop/cart_checkout']" routerLinkActive="$router_link-active$" class="mt-3 btn btn-solid btn-sm ">Završi kupovinu</a>
                </div>
             </li>
          </ul>
       </div>
    </div>
 </div>
 <!-- Add to cart bar end-->
