.table-option-container{
    display: grid;
    place-items: center;
    column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    font-size:18px;
    fa-icon{
        cursor: pointer;
    }
}
table{
    text-align: center;
}
.form-label, .form-check-label{
    .required{
        color: red;
    }
}
.media-mini{
    height: 50px;
    cursor: zoom-in;
}
.img-header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
.additionalTxtCon{
    cursor: pointer;
    margin-left: 5px;
    background-color: unset;
    border: unset;
    box-shadow: unset;
}
