<section class="blog-detail-page section-big-py-space ratio2_3">
  <div class="container">

    <div class="row section-big-pb-space">
      <div class="col-sm-12 blog-detail">
        <div class="creative-card">
          <img [src]="imgSrc || 'assets/images/noimg.png'" class="img-fluid w-100 " [alt]="imgAlt || title">
          <h3>{{title}}</h3>
          <ul class="post-social">
            <li>{{publishedDate}}</li>
          </ul>
          <p>{{content}}</p>
        </div>
      </div>
    </div>

  </div>
</section>
