<!-- subscribe start -->
<section class="subscribe1 ">
    <img src="assets/images/subscribe2.png"  alt="subscribe" class="bg-img img-fluid">
    <div class="container">
       <div class="row">
          <div class="col-12">
             <div class="subscribe-contain">
                <div class="subscribe-left">
                   <div class="media">
                      <fa-icon icon="envelope-open-text"></fa-icon>
                      <div class="media-body">
                         <h6>Budi u toku sa akcijama
                         </h6>
                         <h3>Pridruži se biltenu.</h3>
                      </div>
                   </div>
                </div>
                <form #newsletterFrm class="subscribe-right">
                   <div class="input-group">
                      <input class="form-control" type="text" placeholder="Unesite vašu email adresu">
                      <button type="button" (click)="subscribeToNewsletter()" class="input-group-text">pretplati se</button>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- subscribe end -->
