<li><fa-icon icon="star" [ngStyle]="{'color': assessmentSum === 1? 'yellow': '#ddd'}"></fa-icon></li>
<li><fa-icon icon="star" [ngStyle]="{'color': assessmentSum === 2? 'yellow': '#ddd'}"></fa-icon></li>
<li><fa-icon icon="star" [ngStyle]="{'color': assessmentSum === 3? 'yellow': '#ddd'}"></fa-icon></li>
<li><fa-icon icon="star" [ngStyle]="{'color': assessmentSum === 4? 'yellow': '#ddd'}"></fa-icon></li>
<li><fa-icon icon="star" [ngStyle]="{'color': assessmentSum === 5? 'yellow': '#ddd'}"></fa-icon></li>
